*{
    margin: 0;
    padding: 0;
}
img{
    width: 100%;
}
.container-wrapper{
    padding: 10px 5%;
}
#header{
    background-color: #202020;
}
.header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img{
    max-width: 60px;
}
.navbar{
    display: flex;
    list-style: none;
    gap: 10px;
}
.nav-item a{
    color: azure ;
    text-decoration: none;
}
.nav-item a:hover{
    color: #FFF;
    text-decoration: underline;
}

.h2{
    color: #FFF;
    text-align: center;
    margin-bottom: 20px;
}

.margin{
    border: 2px solid #FFF;
    display: flex;
    height: 300px;
    padding: 20px;
    gap: 30px;
    align-items: center;
}
.p1, .p3{
    width: 40%;
}
.p2{
    width: 20%;
}

.hero-wrapper{
    background-color: #202020;
    padding-bottom: 60px;
}
.hero{
    display: flex;
    gap: 20px;
    align-items: center;
}
.hero-info{
    width: 50%;
}
.hero-name{
    width: 100%;
    border-bottom: 3px solid red;
}
.hero-name h2{
    font-size: 48px;
    color: #FFF;
}

.hero-details{
    text-align: right;
}
.hero-details h1{
    font-size: 36px;
    color: #FFF;
}
.hero-image {
    width: 50%;
}
.hero-image img{
    max-width: 100%;
}
.hero-quote h3{
    margin-top: 20px;
    color: #FFF;
}
.red-border-wrapper{
    position: relative;
    background-color: transparent;
}
.red-border{
    position: absolute;
    height: 60px;
    width: 60px;
    border: 5px solid red;
    border-radius: 50%;
    left: 39%;
    top: -30px;
    background-color: transparent;
}

.biography{
    display: flex;
    gap: 50px;
    align-items: center;
    background-color: azure !important;
}
.bio-image{
    width: 45%;
}
.bio-info{
    width: 55%;
    background-color: azure !important;
    position: relative;
    display: flex;
    flex-direction: column;
}
.bio-info h2{
    text-align: right;
    margin-right: 5%;
    
}
.bio-info .spacer{
    height: 3px;
    width: 130px;
    background-color: red;
    display: block;
    position: absolute;
    right: 0;
    top: 30px;
}
.bio-info p{
    margin-top: 20px;
    margin-right: 5%;
    font-size: 15px;
}
.bio-info .about{
    text-decoration: none;
    margin-top: 40px;
    color: #FFF;
    background-color: #FF3308;
    padding: 10px 20px;
    border-radius: 20px;
    width: fit-content;
}